apiVersion: app.sealos.io/v1
kind: App
metadata:
  name: sealaf
  namespace: app-system
spec:
  data:
    desc: Cloud development
    url: https://sealaf.{{ .cloudDomain }}{{ if .cloudPort }}:{{ .cloudPort }}{{ end }}
  displayType: normal
  i18n:
    zh:
      name: 云开发
    zh-Hans:
      name: 云开发
  icon: https://sealaf.{{ .cloudDomain }}{{ if .cloudPort }}:{{ .cloudPort }}{{ end }}/favicon.ico
  name: Function Service
  type: iframe