apiVersion: app.sealos.io/v1
kind: App
metadata:
  name: sealaf
  namespace: app-system
spec:
  data:
    desc: Cloud development
    url: "https://sealaf.{{ .cloudDomain }}{{ if .cloudPort }}:{{ .cloudPort }}{{ end }}"
  icon: "https://sealaf.{{ .cloudDomain }}{{ if .cloudPort }}:{{ .cloudPort }}{{ end }}/favicon.ico"
  i18n:
    zh:
      name: 云开发
    zh-Hans:
      name: 云开发
  menuData:
    helpDropDown: false
    nameColor: text-black
  name: Function Service
  type: iframe
  displayType: normal